.ge-text-alignment-field .unity-button-strip__button--left .unity-button-strip__button-icon {
    background-image: resource('Icons/GraphToolsFoundation/TextAlignmentDark/Left@2x.png');
}

.ge-text-alignment-field .unity-button-strip__button--mid .unity-button-strip__button-icon {
    background-image: resource('Icons/GraphToolsFoundation/TextAlignmentDark/Centered@2x.png');
}

.ge-text-alignment-field .unity-button-strip__button--right .unity-button-strip__button-icon {
    background-image: resource('Icons/GraphToolsFoundation/TextAlignmentDark/Right@2x.png');
}
